.button {    
    height: 30px;
    padding: 0 10px;    

    color: $white--color;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    
    @include greater-than-mobile {
        align-self: center;
        padding: 7px 20px;

        font-size: 15px;
        line-height: 17px;
    }

    &--with-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 15px;
            height: 15px;
            margin-right: 10px;
        }
    }

    &--green {
        background-color: $green1--color;

        &.--disabled {
            background-color: $green--alpha-color;
        }
    }

    &--blue {
        background-color: $blue--color;
    }

    &--outline {
        background-color: transparent;
        border: 1px solid $orange3--color;
        color: $orange3--color;
    }

    &--red {
        background-color: $red2--color;
    }

}