.home {
    .mat-form-field {
        width: 30%;
    }

    .text-content {
        p {
            color: $grey3-paragraph--color;
        }
    }

    .mat-stroked-button:not(.mat-button-disabled) {
        border-color: $blue-base-menu--color;
        background-color: $blue-base-menu--color;
    }

    .form-group {
        margin-top: 10px;
        button {
            color: $white--color;
            border-radius: 1px;
            position: relative;
            left: 20px;
            height: 50px;
            width: 200px;
            top: -5px;
            font-size: 16px;
        }
    }

    .box-results {
        display: flex;
        flex-direction: row;
        width: 100%;

        .item-box {

            &:not(:nth-child(1)) {
                margin-left: 20px;
            }

            padding: 24px;
            background-color: $white--color;
            width: 30%;

            .item-header {
                margin-bottom: 20px;

                p {
                    color: $grey3-paragraph--color;
                }
            }

            .item-content {
                display: flex;
                flex-direction: column;

                a {
                    color: $blue-base-menu--color;
                    cursor: pointer;
                    position: relative;
                    top: 15px;
                    font-weight: 500;
                }

                .content-row {
                    display: flex;

                    &:nth-child(1) {
                        margin-bottom: 15px;
                    }

                    div {
                        margin-left: 15px;

                        span {
                            color: $grey3-paragraph--color;
                        }
                    }
                }
            }
        }
    }
}
