%font {
   &-display {
      font-family: ($font-display, sans-serif, none);
   }

   &-rounded {
      font-family: ($font-rounded, sans-serif, none);
   }
}


.mat-typography p {
   margin: unset;
}