<div id="sideMenu" class="sidebar">

  <div class="--content">
    <button mat-icon-button (click)="toggleNav(!isOpen)"><mat-icon>menu</mat-icon></button>
    <button mat-icon-button><mat-icon>search</mat-icon></button>
    <button mat-icon-button><mat-icon >star_border</mat-icon></button>
    <button mat-icon-button><mat-icon >message</mat-icon></button>
    <button mat-icon-button><mat-icon >tune</mat-icon></button>
    <button mat-icon-button><mat-icon >foundation</mat-icon></button>
  </div>
 
</div>

<div id="main" [class.sidebar-overflow]="isOpen" (click)="isOpen ? toggleNav(false) : ''">
  <ng-content select="[contentBody]"></ng-content>
</div>