.form {

   &-group {

      .mat-icon {
         cursor: pointer;
      }

      input {

         @include at-root-has(".--form-profile") {
            width: 100%;
         }

      }

      label {

         @include at-root-has(".--form-horizontal") {
            position: initial;
            padding: 0;
            margin-bottom: 10px;
         }
      }

      .text-errors {
         margin-top: 5px;
         display: grid;
         grid-template-columns: auto;
         grid-template-rows: auto;

         .text-error {
            grid-row: 1 / 1;
            grid-column: 1 / 1;
            padding: 0 15px;

            opacity: 0;

            color: $red--color;
            font-size: 11px;
            line-height: 13px;

            transition: all 0.5s ease;

            &.--show {
               opacity: 1;
            }
         }
      }
   }

   .button {
     

      @include only-mobile {
         width: 100%;
      }

      &.--form-horizontal {
         display: flex;
         align-items: center;
   
         .form-group {
            padding: 0 15px;
         }
      }
   }


   .form-group {

      .mat-form-field {
         @include only-mobile {
            width: 100%;
         }
      }

      .mat-form-field-appearance-fill .mat-form-field-flex {
       
      }

      .mat-icon-button {
         
      }

      .mat-form-field-underline {
      }

      .mat-form-field-infix {
      }

      .mat-form-field-label {
      }
   }

}