@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:Regular,Semi-Bold);

$color-white: #FFFFFF;
$color-green: #00A826;
$color-background: #F5F6F6;
$color-text: #000000 !important;
$grayBorder: #DEDEDE;
$blackGradient1: #192227;
$blackGradient2: #223846;
$headerBackgroundBlue: linear-gradient($blackGradient1 65%, $blackGradient2);
$source-sans: 'Source Sans Pro';

.dark {
   
}